body {
    #top-nav {
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: #000000;
                    font-size: 25px;
                }
            }
        }
    }
    h3 {
        color: fuchsia;
    }
    // ADDING AND REMOVING CONTENT TO OR FROM A PAGE WITH A MOUSE CLICK
    #content-click {
        display: none;
    }
    // SHOWING AND HIDING ELEMENTS USING SHOW AND HIDE
    .recipe {
        display: none;
    }
    // BUILDING A BASIC IMAGE GALLERY WITH A FADE TRANSITION
    #first-name {
        display: block;
    }
    .container {
        ul#nav {
            list-style-type:none;
            margin:10px 0 10px;
            padding:0;
            li {
                float:left;
                width:30px;
                a {
                    text-decoration:none;
                    background:#05609A;
                    color:#fff;
                    padding:5px;
                    a.active {
                        background:#B4F114;
                    }
                }         
            }
        }
        .slide-image-first {
            width:400px;
            height:300px;
            border:2px solid #05609A;
            overflow:hidden;
            img {
                display:none;
            }
        }
    }
// BUILDING AN IMAGE GALLERY WITH TEXT CAPTIONS USING ADVANCED ANIMATIONS
    .container-last {
        position:relative;
        height:250px;
        width:400px;
        border:1px solid #333;
        overflow:hidden;
        ul#nav-second {
            list-style-type:none;
            margin:10px 0 10px;
            padding:0;
            li {
                float:left;
                width:30px;
                a {
                    text-decoration:none;
                    background:#05609A;
                    color:#fff;
                    padding:5px;
                    a.active {
                        background:#B4F114;
                    }
                }
            }
        }
        .slide-container {
            position: absolute;
            top: 0;
            left: 0;
        }
        .slides {
            float:right;
        }
        .slide-text {
            display:none;
            font-size:18px;
        }
        img {
            border:0;
        }
        .textStrip {
            top:0px;
            display:block;
            position:absolute;
            left:-400px;
            padding:5px;
            background:#333333;
            opacity:0.9;
            color:#ffffff;
            width:100%;
        }
    }
}


