body #top-nav ul#navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
}

body #top-nav ul#navigation li {
  list-style: none;
  width: 175px;
  text-align: center;
  position: relative;
  height: 63px;
  padding: 20px 5px 10px 5px;
}

body #top-nav ul#navigation li ul.subnav {
  background: #E7F1D2;
  width: 175px;
  clear: both;
  display: none;
  position: absolute;
  top: 63px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-radius: 8px;
  border-left: 2px solid #998;
  border-right: 2px solid #998;
  border-bottom: 2px solid #998;
}

body #top-nav ul#navigation li ul.subnav li {
  clear: both;
  height: 40px;
  padding: 0;
  text-align: center;
  margin: 0px;
}

body #top-nav ul#navigation li ul.subnav li a {
  background: none;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
  border: none;
}

body #top-nav ul#navigation li ul.subnav li a a:hover {
  background: #DBF1AD;
  font-size: 18px;
  color: #333;
  border: none;
}

body #top-nav ul#navigation li a {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  display: block;
}

body #top-nav ul#navigation li a a.active {
  border: 1px solid blue;
}

body h3 {
  color: fuchsia;
}

body #content-click {
  display: none;
}

body .recipe {
  display: none;
}

body #first-name {
  display: block;
}

body .container ul#nav {
  list-style-type: none;
  margin: 10px 0 10px;
  padding: 0;
}

body .container ul#nav li {
  float: left;
  width: 30px;
}

body .container ul#nav li a {
  text-decoration: none;
  background: #05609A;
  color: #fff;
  padding: 5px;
}

body .container ul#nav li a a.active {
  background: #B4F114;
}

body .container .slide-image-first {
  width: 400px;
  height: 300px;
  border: 2px solid #05609A;
  overflow: hidden;
}

body .container .slide-image-first img {
  display: none;
}

body .container-last {
  position: relative;
  height: 250px;
  width: 400px;
  border: 1px solid #333;
  overflow: hidden;
}

body .container-last ul#nav-second {
  list-style-type: none;
  margin: 10px 0 10px;
  padding: 0;
}

body .container-last ul#nav-second li {
  float: left;
  width: 30px;
}

body .container-last ul#nav-second li a {
  text-decoration: none;
  background: #05609A;
  color: #fff;
  padding: 5px;
}

body .container-last ul#nav-second li a a.active {
  background: #B4F114;
}

body .container-last .slide-container {
  position: absolute;
  top: 0;
  left: 0;
}

body .container-last .slides {
  float: right;
}

body .container-last .slide-text {
  display: none;
  font-size: 18px;
}

body .container-last img {
  border: 0;
}

body .container-last .textStrip {
  top: 0px;
  display: block;
  position: absolute;
  left: -400px;
  padding: 5px;
  background: #333333;
  opacity: 0.9;
  color: #ffffff;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */