@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body #top-nav ul#navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
}

body #top-nav ul#navigation li {
  list-style: none;
  width: 175px;
  text-align: center;
  position: relative;
  height: 63px;
  padding: 20px 5px 10px 5px;
}

body #top-nav ul#navigation li ul.subnav {
  background: #E7F1D2;
  width: 175px;
  clear: both;
  display: none;
  position: absolute;
  top: 63px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-radius: 8px;
  border-left: 2px solid #998;
  border-right: 2px solid #998;
  border-bottom: 2px solid #998;
}

body #top-nav ul#navigation li ul.subnav li {
  clear: both;
  height: 40px;
  padding: 0;
  text-align: center;
  margin: 0px;
}

body #top-nav ul#navigation li ul.subnav li a {
  background: none;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
  border: none;
}

body #top-nav ul#navigation li ul.subnav li a a:hover {
  background: #DBF1AD;
  font-size: 18px;
  color: #333;
  border: none;
}

body #top-nav ul#navigation li a {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  display: block;
}

body #top-nav ul#navigation li a a.active {
  border: 1px solid blue;
}

body h3 {
  color: fuchsia;
}

body #content-click {
  display: none;
}

body .recipe {
  display: none;
}

body #first-name {
  display: block;
}

body .container ul#nav {
  list-style-type: none;
  margin: 10px 0 10px;
  padding: 0;
}

body .container ul#nav li {
  float: left;
  width: 30px;
}

body .container ul#nav li a {
  text-decoration: none;
  background: #05609A;
  color: #fff;
  padding: 5px;
}

body .container ul#nav li a a.active {
  background: #B4F114;
}

body .container .slide-image-first {
  width: 400px;
  height: 300px;
  border: 2px solid #05609A;
  overflow: hidden;
}

body .container .slide-image-first img {
  display: none;
}

body .container-last {
  position: relative;
  height: 250px;
  width: 400px;
  border: 1px solid #333;
  overflow: hidden;
}

body .container-last ul#nav-second {
  list-style-type: none;
  margin: 10px 0 10px;
  padding: 0;
}

body .container-last ul#nav-second li {
  float: left;
  width: 30px;
}

body .container-last ul#nav-second li a {
  text-decoration: none;
  background: #05609A;
  color: #fff;
  padding: 5px;
}

body .container-last ul#nav-second li a a.active {
  background: #B4F114;
}

body .container-last .slide-container {
  position: absolute;
  top: 0;
  left: 0;
}

body .container-last .slides {
  float: right;
}

body .container-last .slide-text {
  display: none;
  font-size: 18px;
}

body .container-last img {
  border: 0;
}

body .container-last .textStrip {
  top: 0px;
  display: block;
  position: absolute;
  left: -400px;
  padding: 5px;
  background: #333333;
  opacity: 0.9;
  color: #ffffff;
  width: 100%;
}

body #accordion {
  width: 225px;
  margin: 10px 0 10px 10px;
}

body #accordion .header-active {
  background: #48ABC3;
}

body #accordion .accordion-header {
  background: #3971AC;
  color: #fff;
  border-bottom: 1px solid #fff;
  position: relative;
}

body #accordion .accordion-header span {
  background: url(../images/accordion_sprite.gif) no-repeat;
  display: block;
  position: absolute;
  width: 11px;
  height: 12px;
  top: 5px;
  left: 200px;
}

body #accordion .accordion-header span .icon-active {
  background: url(../images/accordion_sprite.gif) no-repeat;
  background-position: 0 -12px;
  display: block;
  position: absolute;
  width: 11px;
  height: 12px;
  top: 5px;
  left: 200px;
}

body #accordion .accordion-header h3 {
  margin: 0;
  cursor: pointer;
  text-indent: 10px;
  padding: 5px 0;
}

body #accordion ul.accordion-content {
  margin: 0px 0 0px 0;
  padding: 5px 5px 10px 5px;
  list-style-type: none;
  background: #A8D7E2;
}

body #accordion ul.accordion-content li {
  padding: 1px 0px;
  display: block;
  margin: 0;
  padding: 2px 5px;
}

body #accordion ul.accordion-content li a {
  color: #D16C3A;
}

body ul#tabs {
  list-style-type: none;
  position: relative;
}

body ul#tabs li {
  float: left;
  width: 155px;
  text-align: center;
  position: relative;
  margin: 0 3px;
  position: relative;
}

body ul#tabs li a.tab-active {
  color: green;
  background: #fff;
  position: relative;
  top: 1px;
}

body ul#tabs li a {
  border-top: 1px solid #9B4C24;
  border-left: 1px solid #9B4C24;
  border-right: 1px solid #9B4C24;
  background: #2E7D91;
  padding: 10px 5px 10px 0px;
  display: block;
  text-decoration: none;
  font: bold 14px “Helvetica Neue”,Arial,Helvetica,Geneva,sans-serif;
  color: #fff;
  position: relative;
}

body #content-container {
  border: 1px solid #333;
  background: #fff;
}

body #content-container .content {
  display: none;
}

body .special {
  background: #6AAF18;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */